/* Файл variables.less
/*! Переменные для проекта
 *  barbershop.ex v1.0
 *  Copyright 2016-2017.
 *                      */
@bg-darkgrey:  #1F1F1F;
@bg-lightgrey: #f8f5f2;

@screen_sm: 320px;
@screen_md: 768px;
@screen_lg: 992px;

@mobile-widths: ~"(min-width: 320px)";
@mobile-widths-only: ~"(max-width: 767px)";
@tablet-widths: ~"(min-width: 768px)";
@tablet-widths-only: ~"(max-width: 991px)";
@desktop-widths: ~"(min-width: 992px)";
@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";