# комментарий — эта строка игнорируется
# Символ * соответствует 0 или более символам;
# Знак вопроса (?) соответствует одному символу.
# не обрабатывать файлы, имя которых заканчивается на .a
#*.a
# НО отслеживать файл lib.a, несмотря на то, что мы игнорируем все .a файлы с помощью предыдущего правила
#!lib.a
# игнорировать только файл TODO находящийся в корневом каталоге, не относится к файлам вида subdir/TODO
#/TODO
# игнорировать все файлы в каталоге CodeIgniter-3.1.0/
css/
barber-project.sublime-project
barber-project.sublime-workspace